@import 'settings/variables';
@import 'tools/breakpoints';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/navigation';
@import 'pages/home';
@import 'components/sector-list';

/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

.site-name {
  background-color: #38414d;
}

.site-name .navbar-brand {
  color          : white;
  text-decoration: none;
}

.site-name .navbar-brand:hover {
  color          : white;
  text-decoration: underline;
}

/*** Sector Search block ***/
#wb-sm {
  background   : #E1E4E7;
  border-bottom: 1px solid #D3D4D8;
  border-top   : 1px solid #D3D4D8;
}

#wb-sm .menu {
  text-shadow: none;
  width: auto;
}

#wb-sm .menu>li>a {
  color         : #335075;
  font-weight   : bold;
  padding-bottom: calc(1em - 1px);
  padding-top   : calc(1em - 1px);
}

#wb-sm .menu>li>a:hover {
  color: white;
}

/*** Menu ***/
.home .gcweb-menu,
.gcweb-menu {
  border-top: none;
}
